<a href="https://colab.research.google.com/github/juhee3199/Data-Analysis/blob/main/Data_Handling/_NumPy_%ED%95%9C%EB%B2%88%EC%97%90_%EC%A0%9C%EB%8C%80%EB%A1%9C_%EB%B0%B0%EC%9A%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy 한번에 제대로 배우기



---

## NumPy 특징

* Numerical Python의 약자
* 고성능 과학 계산용 패키지로 강력한 N차원 배열 객체
* 범용적 데이터 처리에 사용 가능한 다차원 컨테이너
* 정교한 브로드캐스팅(broadcasting) 기능
* 파이썬의 자료형 list와 비슷하지만, 더 빠르고 메모리를 효율적으로 관리
* 반복문 없이 데이터 배열에 대한 처리를 지원하여 빠르고 편리
* 데이터 과학 도구에 대한 생태계의 핵심을 이루고 있음

In [3]:
import numpy as np
np.__version__

'1.21.5'



---

## 1. 배열 생성

### 리스트로 배열 만들기

In [9]:
# 1D array
a1 = np.array([1,2,3,4,5])
print(a1)
print(type(a1))
print(a1.shape)   # 5개의 element를 가진 1차원 배열

[1 2 3 4 5]
<class 'numpy.ndarray'>
(5,)

리스트처럼 인덱스로 접근, 수정 가능

In [ ]:
print(a1[0])

a1[0]=4
print(a1)

4
[4 2 3 4 5]

In [4]:
# 2D array

a2 = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(a2)
print(a2.shape)  # 3*3 array 생성

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)

In [ ]:
a2[0,2]

3

In [7]:
# 3Darray

a3 = np.array([[[1,2,3], [4,5,6], [7,8,9]],
          [[1,2,3], [4,5,6], [7,8,9]],
          [[1,2,3], [4,5,6], [7,8,9]]])
print(a3)
print(a3.shape)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
(3, 3, 3)

### 배열 생성 및 초기화

* `zeros()`: 모든 요소를 0으로 초기화

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

* `ones()`: 모든 요소를 1로 초기화

In [ ]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

* `full()`: 모든 요소를 지정한 값으로 초기화
    - full(shpae, 초기화할 지정 값)

In [ ]:
np.full((3,3), 1.25)

array([[1.25, 1.25, 1.25],
       [1.25, 1.25, 1.25],
       [1.25, 1.25, 1.25]])

* `eye()`: 단위행렬(identity matrix) 생성
  + 주대각선의 원소가 모두 1이고 나머지 원소는 모두 0인 정사각 행렬

In [ ]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

* `tri()`: 삼각행렬 생성. 삼각 모양으로 1이 생성

In [ ]:
np.tri(3)

array([[1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 1.]])

* `empty()`: 초기화되지 않은 배열 생성
  + 초기화가 없어서 배열 생성비용 저렴하고 빠름
  + 초기화되지 않아서 기존 메모리 위치에 존재하는 값이 있음
  + 그래서 어떤 값이 나올지 모름

In [ ]:
np.empty(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

* `_like()`: 지정된 배열과 shape가 같은 행렬 생성
  + `np.zeros_like()`
  + `np.ones_like()`
  + `np.full_like()`
  + `np.empty_like()`

In [ ]:
print(a1)
np.zeros_like(a1) # a1과 같은 shape의 0으로 채워진 배열

[4 2 3 4 5]

array([0, 0, 0, 0, 0])

In [ ]:
print(a2)
np.ones_like(a2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [ ]:
print(a3)
np.full_like(a3, 10)  # a3와 같은 shape의 10으로 채워진 배열

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]

array([[[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]]])

### 생성한 값으로 배열 생성

* `arange()`: 정수 범위로 배열 생성

In [ ]:
np.arange(0, 30, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [ ]:
np.arange(0, 30, 3)

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

* `linspace()`: 범위 내에서 균등 간격의 배열 생성

In [ ]:
np.linspace(0, 1, 5)  # 0~1 사이를 균등하게 5개로 나누기

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

* `logspace()`: 범위 내에서 균등간격으로 로그 스케일로 배열 생성

In [ ]:
np.logspace(0.1, 1, 20)  # 0.1~1 사이를 균등하게 20개의 로그 스케일로 나누기

array([ 1.25892541,  1.40400425,  1.565802  ,  1.74624535,  1.94748304,
        2.1719114 ,  2.42220294,  2.70133812,  3.0126409 ,  3.35981829,
        3.74700446,  4.17881006,  4.66037703,  5.19743987,  5.79639395,
        6.46437163,  7.2093272 ,  8.04013161,  8.9666781 , 10.        ])

### 랜덤값으로 배열 생성

* `random.random()`: 랜덤한 수의 배열 생성

In [ ]:
np.random.random((3,3))  # 3*3 shape의 실수 값으로 채워진 배열

array([[0.12905439, 0.94119788, 0.78045009],
       [0.28525939, 0.53084837, 0.49496821],
       [0.87894093, 0.8642912 , 0.46046367]])

* `random.randint()`: 일정 구간의 랜덤 정수의 배열 생성

In [ ]:
np.random.randint(0, 10, (3,3))  # 정수 랜덤

array([[8, 3, 4],
       [3, 9, 9],
       [6, 4, 0]])

* `random.normal()`: 정규분포(normal distribution)를 고려한 랜덤한 수의 배열 생성
* 평균=0, 표준편차=1, 3 x 3 배열

In [ ]:
np.random.normal(0, 1, (3,3))

array([[ 0.66482325, -0.16226699, -0.69875393],
       [-0.40298559,  0.51471147, -0.76737843],
       [ 0.99397916, -0.60403124, -0.19612661]])

* `random.rand()`: 균등분포(uniform distribution)를 고려한 랜덤한 수의 배열 생성

In [ ]:
np.random.rand(3,3)

array([[0.45386426, 0.28500709, 0.74442084],
       [0.68218959, 0.67106396, 0.99245481],
       [0.65760158, 0.21201783, 0.11192793]])

* `random.randn()`: 표준 정규 분포(standard normal distribution)를 고려한 랜덤한 수의 배열 생성

In [ ]:
np.random.randn(3,3)

array([[ 0.30162145,  0.22965299,  0.2457151 ],
       [-0.71752739,  0.40312985, -1.06699227],
       [ 0.59085702,  0.33616027,  0.97218205]])

### 표준 데이터 타입

In [ ]:
np.zeros(20, dtype=int)  # dtype이 int인 0으로 채워진 배열

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
np.zeros((3,3), dtype=bool)  # 0 = False 이므로

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [ ]:
np.ones((3,3), dtype=bool)  # 1 = True

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [ ]:
np.full((3,3), 1.0, dtype=float)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### 날짜/시간 배열 생성

문자열로 배열을 만들었지만, dtype을 datetime으로 줌으로써 날짜 표현 가능

In [ ]:
date = np.array('2020-01-01', dtype = np.datetime64)
date

array('2020-01-01', dtype='datetime64[D]')

In [ ]:
date + np.arange(12)  # date인 기존 날짜에 arange 각각을 더해줌

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
      dtype='datetime64[D]')

In [ ]:
# 시간 표현

datetime = np.datetime64('2020-06-01 12:00')
datetime

numpy.datetime64('2020-06-01T12:00')

In [ ]:
# 나노 초 표현
datetime = np.datetime64('2020-06-01 12:00:12.34', 'ns')
datetime

numpy.datetime64('2020-06-01T12:00:12.340000000')



---

## 2. 배열 조회

### 배열 속성 정보

In [ ]:
# 배열 속성 정보를 출력하는 함수
def array_info(array):
  print(array)
  print("ndim: ", array.ndim)
  print("shape: ", array.shape)
  print("dtype: ", array.dtype)
  print("size: ", array.size)  # element 개수
  print("itemsize: ", array.itemsize) # 하나의 아이템이 가지는 사이즈 8byte=int 64bit
  print("nbytes: ", array.nbytes)     # 전체 배열의 바이트 크기.  8*5=40   size * itemsize  
  print("strides: ", array.strides)   # 다음 차원으로 넘어가기 위해서 필요한 바이트

In [ ]:
array_info(a1)

[4 2 3 4 5]
ndim:  1
shape:  (5,)
dtype:  int64
size:  5
itemsize:  8
nbytes:  40
strides:  (8,)

In [ ]:
array_info(a2)    # 다음 차원으로 넘어갈 때 24byte가 필요  3*8=24byte

[[1 2 3]
 [4 5 6]
 [7 8 9]]
ndim:  2
shape:  (3, 3)
dtype:  int64
size:  9
itemsize:  8
nbytes:  72
strides:  (24, 8)

In [ ]:
array_info(a3)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
ndim:  3
shape:  (3, 3, 3)
dtype:  int64
size:  27
itemsize:  8
nbytes:  216
strides:  (72, 24, 8)

### 인덱싱(Indexing)

In [ ]:
print(a1)
print(a1[0])
print(a1[-1])

[4 2 3 4 5]
4
5

In [ ]:
print(a2)
print(a2[0, 0])
print(a2[2, -1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1
9

In [ ]:
print(a3)
print(a3[0, 0, 0])
print(a3[2, -1, -1])

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
1
9

### 슬라이싱(Slicing)

* 슬라이싱 구문: `a[start:stop:step]`
* 기본값: start=0, stop=ndim, step=1

In [ ]:
print(a1)
print(a1[0:2])
print(a1[0:])
print(a1[:1])
print(a1[::2])  # step=1
print(a1[::-1]) # 역으로 접근.

[4 2 3 4 5]
[4 2]
[4 2 3 4 5]
[4]
[4 3 5]
[5 4 3 2 4]

In [ ]:
print(a2)
print(a2[1], '\n')
print(a2[1, :], '\n')
print(a2[:2, :2], '\n')
print(a2[:2, ::2], '\n')
print(a2[1:, ::2], '\n')  # step=1
print(a2[1:, ::-1], '\n')  # 역으로 접근.
print(a2[::-1, ::-1], '\n')

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[4 5 6]

[4 5 6]

[[1 2]
 [4 5]]

[[1 3]
 [4 6]]

[[4 6]
 [7 9]]

[[6 5 4]
 [9 8 7]]

[[9 8 7]
 [6 5 4]
 [3 2 1]]

### 불리언 인덱싱(Boolean Indexing)

* 배열 각 요소의 선택 여부를 불리언(True or False)로 지정
* True 값인 인덱스의 값만 조회

In [ ]:
print(a1)
bi = [False, True, True, False, True]
print(a1[bi])

bi = [True, False, True, True, False]
print(a1[bi])

[4 2 3 4 5]
[2 3 5]
[4 3 4]

In [ ]:
print(a2)
bi = np.random.randint(0, 2, (3,3), dtype=bool) # 랜덤으로 True, False가 생성되도록 
print(bi)
print(a2[bi])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[False  True False]
 [False False  True]
 [False False False]]
[2 6]

### 팬시 인덱싱(Fancy Indedxing)
- 인덱스를 묶어서 전달해주면 해당 인덱스의 값만 출력
- 인덱스에 따라 결과의 shape이 결정됌

In [ ]:
print(a1)
print([a1[0], a1[2]])

ind = [0, 2]
print(a1[ind])

[4 2 3 4 5]
[4, 3]
[4 3]

In [ ]:
# 1차원 배열이지만 2차원 인덱스를 주었기 때문에 2차원 배열 형태로 출력됌

ind = np.array([[0,1],
                [2,0]])

print(a1[ind])

[[4 2]
 [3 4]]

In [ ]:
print(a2, '\n')
row = np.array([0, 2])
col = np.array([1, 2])
print(a2[row, col], '\n')

print(a2[row, :], '\n')
print(a2[:, col], '\n')
print(a2[row, 1], '\n')
print(a2[2, col], '\n')
print(a2[row, 1:], '\n')
print(a2[1:, col], '\n')

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[2 9]

[[1 2 3]
 [7 8 9]]

[[2 3]
 [5 6]
 [8 9]]

[2 8]

[8 9]

[[2 3]
 [8 9]]

[[5 6]
 [8 9]]



---

## 3. 배열 값 삽입/수정/삭제/복사

### 배열 값 삽입

* `insert()`: 배열의 특정 위치에 값 삽입
* axis를 지정하지 않으면 1차원 배열로 변환
* 추가할 방향을 axis로 지정
* 원본 배열 변경없이 새로운 배열 반환

In [ ]:
print(a1)
b1 = np.insert(a1, 0, 10)  # a1의 0번째에 10을 넣기
print(b1)  
print(a1)

# 원본 배열은 그대로. 새로운 배열을 반환함

[4 2 3 4 5]
[10  4  2  3  4  5]
[4 2 3 4 5]

In [ ]:
print(a2, '\n')
b2 = np.insert(a2, 1, 10, axis=0)  # 2차원 배열이므로 축 지정.  axis 0 은 row
print(b2, '\n')

c2 = np.insert(a2, 1, 10, axis=1) # axis=1 = col
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[[ 1  2  3]
 [10 10 10]
 [ 4  5  6]
 [ 7  8  9]]

[[ 1 10  2  3]
 [ 4 10  5  6]
 [ 7 10  8  9]]

### 배열 값 수정

* 배열의 인덱싱으로 접근하여 값 수정

In [ ]:
print(a1)
a1[0] = 1
a1[1] = 2
print(a1)

[4 2 3 4 5]
[1 2 3 4 5]

In [ ]:
# 슬라이싱
print(a1)
a1[:2] = 9
print(a1)

[1 2 3 4 5]
[9 9 3 4 5]

In [ ]:
i = np.array([1,3,4])  # 지정된 index의 값을 0으로
a1[i] = 0
print(a1)

[9 0 3 0 0]

In [ ]:
a1[i]+=4
print(a1)

[9 4 3 4 4]

In [ ]:
print(a2, '\n')
a2[0, 0] = 1
a2[1, 1] = 2
a2[2, 2] = 3
print(a2, '\n')  

a2[0] = 1      # 0번째 row를 모두 1로
print(a2, '\n')

a2[1:, 2] = 9
print(a2, '\n')

row = np.array([0,1])
col = np.array([1,2])
a2[row, col] = 0
print(a2, '\n')

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[[1 2 3]
 [4 2 6]
 [7 8 3]]

[[1 1 1]
 [4 2 6]
 [7 8 3]]

[[1 1 1]
 [4 2 9]
 [7 8 9]]

[[1 0 1]
 [4 2 0]
 [7 8 9]]

### 배열 값 삭제

* `delete()`: 배열의 특정 위치에 값 삭제
* axis를 지정하지 않으면 1차원 배열로 변환
* 삭제할 방향을 axis로 지정
* 원본 배열 변경없이 새로운 배열 반환

In [ ]:
print(a1)
b1 = np.delete(a1, 1)
print(b1)
print(a1)

[9 4 3 4 4]
[9 3 4 4]
[9 4 3 4 4]

In [ ]:
print(a2, '\n')
b2 = np.delete(a2, 1, axis=0)
print(b2, '\n')
print(a2, '\n')

[[1 0 1]
 [4 2 0]
 [7 8 9]]

[[1 0 1]
 [7 8 9]]

[[1 0 1]
 [4 2 0]
 [7 8 9]]

### 배열 복사

* 리스트에서 슬라이스를 통한 복사는 원본과 다른 복사본.
* 반면 numpy 배열의 슬라이스는 원본 배열과 같음. (복사본의 값 수정 시, 원본도 수정됌)

In [ ]:
print(a2)
print(a2[:2, :2], '\n')

# 복사
a2_sub = a2[:2, :2] 
print(a2_sub, '\n')
a2_sub[:, 1] = 0    # 1열을 전부 0으로 변경
print(a2_sub, '\n')
print(a2)          # 원본 배열도 변경됌

[[1 0 1]
 [4 0 0]
 [7 8 9]]
[[1 0]
 [4 0]]

[[1 0]
 [4 0]]

[[1 0]
 [4 0]]

[[1 0 1]
 [4 0 0]
 [7 8 9]]


* `copy()`: 배열이나 하위 배열 내의 값을 명시적으로 복사

In [ ]:
print(a2, '\n')
a2_sub_copy = a2[:2, :2].copy()
print(a2_sub_copy, '\n')  # 원본 카피

a2_sub_copy[:, 1] = 1
print(a2_sub_copy, '\n')  # 수정
print(a2, '\n')  # 원본은 수정되지 않음

[[1 0 1]
 [4 0 0]
 [7 8 9]]

[[1 0]
 [4 0]]

[[1 1]
 [4 1]]

[[1 0 1]
 [4 0 0]
 [7 8 9]]



---

##4. 배열 변환

### 배열 전치 및 축 변경

In [5]:
print(a2)
print(a2.T)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [10]:
print(a3)
print('-----------------------')
print(a3.T)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
-----------------------
[[[1 1 1]
  [4 4 4]
  [7 7 7]]

 [[2 2 2]
  [5 5 5]
  [8 8 8]]

 [[3 3 3]
  [6 6 6]
  [9 9 9]]]

In [11]:
# 축 변경을 통해 어떤 방법으로 전치를 할지 결정

print(a2)
print(a2.swapaxes(1,0))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [16]:
print(a3)
print('----------------------------')
print(a3.T)
print('----------------------------')
print(a3.swapaxes(0,1))
print('----------------------------')
print(a3.swapaxes(1,2))

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
----------------------------
[[[1 1 1]
  [4 4 4]
  [7 7 7]]

 [[2 2 2]
  [5 5 5]
  [8 8 8]]

 [[3 3 3]
  [6 6 6]
  [9 9 9]]]
----------------------------
[[[1 2 3]
  [1 2 3]
  [1 2 3]]

 [[4 5 6]
  [4 5 6]
  [4 5 6]]

 [[7 8 9]
  [7 8 9]
  [7 8 9]]]
----------------------------
[[[1 4 7]
  [2 5 8]
  [3 6 9]]

 [[1 4 7]
  [2 5 8]
  [3 6 9]]

 [[1 4 7]
  [2 5 8]
  [3 6 9]]]

### 배열 재구조화

* `reshape()`: 배열의 형상을 변경

In [18]:
n1 = np.arange(1,10)
print(n1)
print(n1.reshape(3,3))  # 해당 shape으로 바꿈

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

* `newaxis()`: 새로운 축 추가

In [19]:
print(n1)
print(n1[np.newaxis, :5])  
print(n1[:5, np.newaxis])  # 컬럼에 새로운 축 추가

[1 2 3 4 5 6 7 8 9]
[[1 2 3 4 5]]
[[1]
 [2]
 [3]
 [4]
 [5]]

### 배열 크기 변경

* 배열 모양만 변경

In [26]:
n2 = np.random.randint(0, 10, (2,5))
print(n2)
n2.resize((5,2))
print(n2)

[[7 5 3 2 0]
 [9 9 0 1 4]]
[[7 5]
 [3 2]
 [0 9]
 [9 0]
 [1 4]]

* 배열 크기 증가
* 남은 공간은 0으로 채워짐

In [30]:
n2.resize((5,5), refcheck=False)
print(n2)

[[7 5 3 2 0]
 [9 9 0 1 4]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

* 배열 크기 감소
* 포함되지 않은 값은 삭제됨

In [31]:
n2.resize((3,3), refcheck=False)
print(n2)

[[7 5 3]
 [2 0 9]
 [9 0 1]]

### 배열 추가

* `append()`: 배열의 끝에 값 추가

In [33]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2 = np.arange(10,19).reshape(3,3)
print(b2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[10 11 12]
 [13 14 15]
 [16 17 18]]

* axis 지정이 없으면 1차원 배열 형태로 변형되어 결합

In [34]:
c2 = np.append(a2, b2)
print(c2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

* axis를 0으로 지정
* shape[0]을 제외한 나머지 shape은 같아야 함

In [35]:
c2 = np.append(a2, b2, axis=0) # 행 방향으로 append
print(c2)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]
 [16 17 18]]

* axis를 1로 지정
* shape[1]을 제외한 나머지 shape은 같아야 함

In [36]:
c2 = np.append(a2, b2, axis=1) # 열방향으로 append
print(c2)

[[ 1  2  3 10 11 12]
 [ 4  5  6 13 14 15]
 [ 7  8  9 16 17 18]]

### 배열 연결

* `concatenate()`: 튜플이나 배열의 리스트를 인수로 사용해 배열 연결

In [37]:
a1 = np.array([1,3,5])
b1 = np.array([2,4,6])
np.concatenate([a1, b1])

array([1, 3, 5, 2, 4, 6])

In [38]:
c1 = np.array([7,8, 9])
np.concatenate([a1, b1, c1])

array([1, 3, 5, 2, 4, 6, 7, 8, 9])

In [40]:
# 2차원으로 concatenate -> axis=0이므로 아래로 붙음
a2 = np.array([[1,2,3],
              [4,5,6]])
np.concatenate([a2, a2])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [41]:
# axis=1
a2 = np.array([[1,2,3],
              [4,5,6]])
np.concatenate([a2, a2], axis=1)

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

* `vstack()`: 수직 스택(vertical stack), 1차원으로 연결

In [42]:
np.vstack([a2, a2])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

* `hstack()`: 수평 스택(horizontal stack), 2차원으로 연결

In [44]:
np.hstack([a2, a2])

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

* `dstack()`: 깊이 스택(depth stack), 3차원으로 연결

In [45]:
np.dstack([a2, a2])

array([[[1, 1],
        [2, 2],
        [3, 3]],

       [[4, 4],
        [5, 5],
        [6, 6]]])

* `stack()`: 새로운 차원으로 연결

In [46]:
# 2차원이 3차원으로 변경되어 연결됌
np.stack([a2, a2])

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

### 배열 분할

* `split()`: 배열 분할

In [49]:
a1 = np.arange(0, 10)
print(a1)
b1, c1 = np.split(a1, [5]) # 기준이 되는 index 위치
print(b1, c1)


b1, c1, d1, e1, f1 = np.split(a1, [2,4,6,8])  
print(b1, c1, d1, e1, f1)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4] [5 6 7 8 9]
[0 1] [2 3] [4 5] [6 7] [8 9]

* `vsplit()`: 수직 분할, 1차원으로 분할

In [50]:
a2 = np.arange(1, 10).reshape(3,3)
print(a2)

b2, c2 = np.vsplit(a2, [2])
print(b2)
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]]
[[7 8 9]]

* `hsplit()`: 수평 분할, 2차원으로 분할

In [51]:
a2 = np.arange(1, 10).reshape(3,3)
print(a2)

b2, c2 = np.hsplit(a2, [2])
print(b2)
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2]
 [4 5]
 [7 8]]
[[3]
 [6]
 [9]]

* `dsplit()`: 깊이 분할, 3차원으로 분할

In [55]:
a3 = np.arange(1, 28).reshape(3,3,3)
print(a3)

b3, c3 = np.dsplit(a3, [2])
print(b3)
print(c3)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]
[[[ 1  2]
  [ 4  5]
  [ 7  8]]

 [[10 11]
  [13 14]
  [16 17]]

 [[19 20]
  [22 23]
  [25 26]]]
[[[ 3]
  [ 6]
  [ 9]]

 [[12]
  [15]
  [18]]

 [[21]
  [24]
  [27]]]



---

## 배열 연산

* NumPy의 배열 연산은 벡터화(vectorized) 연산을 사용
* 일반적으로 NumPy의 범용 함수(universal functions)를 통해 구현
* 배열 요소에 대한 반복적인 계산을 효율적으로 수행

### 브로드캐스팅(Broadcasting)

세번째 예시. shape이 달라도 브로드캐스팅되어 연산결과가 나옴

![image.png]()

In [59]:
a1 = np.array([1,2,3])
print(a1)
print(a1+5)

[1 2 3]
[6 7 8]

In [60]:
a2=np.arange(1,10).reshape(3,3)  
print(a2)
print(a1+a2)   # 서로 shpae이 다르지만 브로드캐스팅이 됌

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 2  4  6]
 [ 5  7  9]
 [ 8 10 12]]

In [62]:
b2=np.array([1,2,3]).reshape(3,1)  
print(a1)
print(b2)
print(a1+b2)   # 서로 shpae이 다르지만 브로드캐스팅이 됌

[1 2 3]
[[1]
 [2]
 [3]]
[[2 3 4]
 [3 4 5]
 [4 5 6]]

### 산술 연산(Arithmetic Operators)

![image.png]()

In [65]:
a1 = np.arange(1,10)
print(a1)
print(a1+1)
print(np.add(a1,10))

[1 2 3 4 5 6 7 8 9]
[ 2  3  4  5  6  7  8  9 10]
[11 12 13 14 15 16 17 18 19]

In [71]:
print(a1-2)
print(np.subtract(a1,2))
print(-a1)
print(np.negative(a1))
print(a1*2)
print(np.multiply(a1,2))

[-1  0  1  2  3  4  5  6  7]
[-1  0  1  2  3  4  5  6  7]
[-1 -2 -3 -4 -5 -6 -7 -8 -9]
[-1 -2 -3 -4 -5 -6 -7 -8 -9]
[ 2  4  6  8 10 12 14 16 18]
[ 2  4  6  8 10 12 14 16 18]

In [73]:
print(a1/2)
print(np.divide(a1, 2))

print(a1//2)
print(np.floor_divide(a1,2)) # 내림

print(a1**2)
print(np.power(a1,2))

print(a1%2)
print(np.mod(a1,2))

[0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]
[0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]
[0 1 1 2 2 3 3 4 4]
[0 1 1 2 2 3 3 4 4]
[ 1  4  9 16 25 36 49 64 81]
[ 1  4  9 16 25 36 49 64 81]
[1 0 1 0 1 0 1 0 1]
[1 0 1 0 1 0 1 0 1]

In [74]:
# 배열과 배열간의 계산도 모두 가능

a1 = np.arange(1, 10)
print(a1)
b1 = np.random.randint(1, 10, size=9)
print(b1)

print(a1*b1)

[1 2 3 4 5 6 7 8 9]
[5 1 1 7 9 6 5 9 3]
[ 5  2  3 28 45 36 35 72 27]

In [76]:
# 2차원도 모두 가능
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2 = np.random.randint(1,10,size=(3,3))
print(b2)

print(a2*b2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[3 6 8]
 [8 8 2]
 [4 1 5]]
[[ 3 12 24]
 [32 40 12]
 [28  8 45]]

#### 절대값 함수(Absolute Function)

* `absolute()`, `abs()`: 내장된 절대값 함수

In [77]:
a1 = np.random.randint(-10, 20, size=5)
print(a1)
print(np.absolute(a1))
print(np.abs(a1))

[-8 -3  0 -6 -1]
[8 3 0 6 1]
[8 3 0 6 1]

#### 제곱/제곱근 함수

* `square`, `sqrt`: 제곱, 제곱근 함수

In [78]:
print(a1)
print(np.square(a1))
print(np.sqrt(a1))

[-8 -3  0 -6 -1]
[64  9  0 36  1]
[nan nan  0. nan nan]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in sqrt
  This is separate from the ipykernel package so we can avoid doing imports until

#### 지수와 로그 함수 (Exponential and Log Function)

In [79]:
a1 = np.random.randint(1,10,size=5)
print(a1)
print(np.exp(a1))
print(np.exp2(a1))
print(np.power(a1, 2)) # 지수 함수

[8 7 5 1 2]
[2.98095799e+03 1.09663316e+03 1.48413159e+02 2.71828183e+00
 7.38905610e+00]
[256. 128.  32.   2.   4.]
[64 49 25  1  4]

In [80]:
# 로그 함수

print(a1)
print(np.log(a1))
print(np.log2(a1))
print(np.log10(a1))

[8 7 5 1 2]
[2.07944154 1.94591015 1.60943791 0.         0.69314718]
[3.         2.80735492 2.32192809 0.         1.        ]
[0.90308999 0.84509804 0.69897    0.         0.30103   ]

#### 삼각 함수(Trigonometrical Function)

In [81]:
t = np.linspace(0, np.pi, 5)
print(t)

print(np.sin(t))
print(np.cos(t))
print(np.tan(t))

[0.         0.78539816 1.57079633 2.35619449 3.14159265]
[0.00000000e+00 7.07106781e-01 1.00000000e+00 7.07106781e-01
 1.22464680e-16]
[ 1.00000000e+00  7.07106781e-01  6.12323400e-17 -7.07106781e-01
 -1.00000000e+00]
[ 0.00000000e+00  1.00000000e+00  1.63312394e+16 -1.00000000e+00
 -1.22464680e-16]

In [82]:
x = [-1,0,1]
print(x)
print(np.arcsin(x))
print(np.arccos(x))
print(np.arctan(x))

[-1, 0, 1]
[-1.57079633  0.          1.57079633]
[3.14159265 1.57079633 0.        ]
[-0.78539816  0.          0.78539816]

### 집계 함수(Aggregate Functions)

- 집계함수는 숫자에 대해서만 할 수 있기 때문에 nan값이 있을 경우 에러를 return함
- 집계함수 중 NaN안전모드를 사용하면 nan값이 있더라도 안전하게 수행됌

#### sum(): 합 계산

In [83]:
a2 = np.random.randint(1, 10, size=(3,3))
print(a2)
print(a2.sum(), np.sum(a2))

# 축 지정 가능
print(a2.sum(axis=0), np.sum(a2, axis=0)) # 행 방향으로 sum
print(a2.sum(axis=1), np.sum(a2, axis=1)) # 열 방향

[[2 4 5]
 [3 7 6]
 [5 1 1]]
34 34
[10 12 12] [10 12 12]
[11 16  7] [11 16  7]

#### cumsum(): 누적합 계산

In [84]:
print(a2)
print(np.cumsum(a2))

# 축 지정 가능
print(np.cumsum(a2, axis=0)) # 행 방향으로 sum
print(np.cumsum(a2, axis=1)) # 열 방향

[[2 4 5]
 [3 7 6]
 [5 1 1]]
[ 2  6 11 14 21 27 32 33 34]
[[ 2  4  5]
 [ 5 11 11]
 [10 12 12]]
[[ 2  6 11]
 [ 3 10 16]
 [ 5  6  7]]

#### diff(): 차분 계산

In [85]:
print(a2)
print(np.diff(a2)) # 2에서 4가 되려면 2, 4에서 5가되려면 1... 

print(np.diff(a2, axis=0)) 
print(np.diff(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
[[ 2  1]
 [ 4 -1]
 [-4  0]]
[[ 1  3  1]
 [ 2 -6 -5]]
[[ 2  1]
 [ 4 -1]
 [-4  0]]

#### prod(): 곱 계산

In [87]:
print(a2)
print(np.prod(a2)) 

print(np.prod(a2, axis=0))  # 행 방향 2*3*5  4*7*1 .. 
print(np.prod(a2, axis=1))  # 열 방향 2*4*5  3*7*6

[[2 4 5]
 [3 7 6]
 [5 1 1]]
25200
[30 28 30]
[ 40 126   5]

#### cumprod(): 누적곱 계산

In [88]:
print(a2)
print(np.cumprod(a2)) 

print(np.cumprod(a2, axis=0))  # 행 방향 2*3*5  4*7*1 .. 
print(np.cumprod(a2, axis=1))  # 열 방향 2*4*5  3*7*6

[[2 4 5]
 [3 7 6]
 [5 1 1]]
[    2     8    40   120   840  5040 25200 25200 25200]
[[ 2  4  5]
 [ 6 28 30]
 [30 28 30]]
[[  2   8  40]
 [  3  21 126]
 [  5   5   5]]

#### dot()/matmul(): 점곱/행렬곱 계산

In [89]:
print(a2)
b2 = np.ones_like(a2)
print(b2)

print(np.dot(a2, b2))   # 점곱 : 2*1+4*1+5*1 = 11 
print(np.matmul(a2, b2))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
[[1 1 1]
 [1 1 1]
 [1 1 1]]
[[11 11 11]
 [16 16 16]
 [ 7  7  7]]
[[11 11 11]
 [16 16 16]
 [ 7  7  7]]

#### tensordot(): 텐서곱 계산

In [91]:
print(a2)
print(b2)

print(np.tensordot(a2,b2)) # 그냥 곱에 대한 결과와 같음
print(np.tensordot(a2,b2, axes=0))  # 축에 따라서 다 곱한 결과
print(np.tensordot(a2,b2, axes=1))  # dot product 결과와 같음

[[2 4 5]
 [3 7 6]
 [5 1 1]]
[[1 1 1]
 [1 1 1]
 [1 1 1]]
34
[[[[2 2 2]
   [2 2 2]
   [2 2 2]]

  [[4 4 4]
   [4 4 4]
   [4 4 4]]

  [[5 5 5]
   [5 5 5]
   [5 5 5]]]


 [[[3 3 3]
   [3 3 3]
   [3 3 3]]

  [[7 7 7]
   [7 7 7]
   [7 7 7]]

  [[6 6 6]
   [6 6 6]
   [6 6 6]]]


 [[[5 5 5]
   [5 5 5]
   [5 5 5]]

  [[1 1 1]
   [1 1 1]
   [1 1 1]]

  [[1 1 1]
   [1 1 1]
   [1 1 1]]]]
[[11 11 11]
 [16 16 16]
 [ 7  7  7]]

#### cross(): 벡터곱

In [92]:
x = [1,2,3]
y = [4,5,6]

print(np.cross(x,y)) # 6*2-5*3  , 3*4-6*1   , 5*1-4*2

[-3  6 -3]

#### inner()/outer(): 내적/외적

In [93]:
print(a2)
print(b2)

print(np.inner(a2,b2)) # dot product 결과와 같음
print(np.outer(a2,b2)) # outer product 결과

[[2 4 5]
 [3 7 6]
 [5 1 1]]
[[1 1 1]
 [1 1 1]
 [1 1 1]]
[[11 11 11]
 [16 16 16]
 [ 7  7  7]]
[[2 2 2 2 2 2 2 2 2]
 [4 4 4 4 4 4 4 4 4]
 [5 5 5 5 5 5 5 5 5]
 [3 3 3 3 3 3 3 3 3]
 [7 7 7 7 7 7 7 7 7]
 [6 6 6 6 6 6 6 6 6]
 [5 5 5 5 5 5 5 5 5]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]]

#### mean(): 평균 계산

In [95]:
print(a2)
print(np.mean(a2))
print(np.mean(a2, axis=0))
print(np.mean(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
3.7777777777777777
[3.33333333 4.         4.        ]
[3.66666667 5.33333333 2.33333333]

#### std(): 표준 편차 계산

In [ ]:
print(a2)
print(np.mean(a2))
print(np.mean(a2, axis=0))
print(np.mean(a2, axis=1))

#### var(): 분산 계산

In [96]:
print(a2)
print(np.var(a2))
print(np.var(a2, axis=0))
print(np.var(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
4.172839506172839
[1.55555556 6.         4.66666667]
[1.55555556 2.88888889 3.55555556]

#### min(): 최소값

In [97]:
print(a2)
print(np.min(a2))
print(np.min(a2, axis=0))
print(np.min(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
1
[2 1 1]
[2 3 1]

#### max(): 최대값

In [98]:
print(a2)
print(np.max(a2))
print(np.max(a2, axis=0))
print(np.max(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
7
[5 7 6]
[5 7 5]

#### argmin(): 최소값 인덱스

In [99]:
print(a2)
print(np.argmin(a2))
print(np.argmin(a2, axis=0))
print(np.argmin(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
7
[0 2 2]
[0 0 1]

#### argmax(): 최대값 인덱스

In [100]:
print(a2)
print(np.argmax(a2))
print(np.argmax(a2, axis=0))
print(np.argmax(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
4
[2 1 1]
[2 1 0]

#### median(): 중앙값

In [101]:
print(a2)
print(np.median(a2))
print(np.median(a2, axis=0))
print(np.median(a2, axis=1))

[[2 4 5]
 [3 7 6]
 [5 1 1]]
4.0
[3. 4. 5.]
[4. 6. 1.]

#### percentile(): 백분위 수

- 아래 그림은 20으로 나눠서 100까지로 표현했음. 리스트는 0,1,2,3

![image.png]()

In [103]:
a1 = np.array([0,1,2,3])
print(a1)
print(np.percentile(a1, [0, 20, 40, 60, 80, 100],interpolation = 'linear')) # 
print(np.percentile(a1, [0, 20, 40, 60, 80, 100],interpolation = 'higher'))
print(np.percentile(a1, [0, 20, 40, 60, 80, 100],interpolation = 'lower'))
print(np.percentile(a1, [0, 20, 40, 60, 80, 100],interpolation = 'nearest'))
print(np.percentile(a1, [0, 20, 40, 60, 80, 100],interpolation = 'midpoint'))

[0 1 2 3]
[0.  0.6 1.2 1.8 2.4 3. ]
[0 1 2 2 3 3]
[0 0 1 1 2 3]
[0 1 1 2 2 3]
[0.  0.5 1.5 1.5 2.5 3. ]

#### any()
: 하나라도 ture이면 true

In [104]:
a2 = np.array([[False, False, False],
              [False, True, True],
              [False, True, True]])

print(a2)
print(np.any(a2))
print(np.any(a2, axis=0))
print(np.any(a2, axis=1))

[[False False False]
 [False  True  True]
 [False  True  True]]
True
[False  True  True]
[False  True  True]


#### all()

In [107]:
a2 = np.array([[False, False, True],
              [True, True, True],
              [False, True, True]])

print(a2)
print(np.all(a2))
print(np.all(a2, axis=0))
print(np.all(a2, axis=1))

[[False False  True]
 [ True  True  True]
 [False  True  True]]
False
[False False  True]
[False  True False]

### 비교 연산(Comparison Operators)

In [108]:
a1 = np.arange(1,10)
print(a1)

print(a1 == 5)
print(a1 < 5)

[1 2 3 4 5 6 7 8 9]
[False False False False  True False False False False]
[ True  True  True  True False False False False False]

In [112]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)

print(np.sum(a2))
print(np.count_nonzero(a2>5))  # a2가 5이상인 것만 개수를 세기  
print(np.sum(a2>5)) # 조건을 부여 a2가 5이상인 것만 개수를 세기
print(np.sum(a2>5, axis=0))
print(np.sum(a2>5, axis=1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
45
4
4
[1 1 2]
[0 1 3]

In [113]:
print(np.any(a2))
print(np.any(a2>5, axis=0))
print(np.any(a2>5, axis=1))

True
[ True  True  True]
[False  True  True]

- 비교 범용 함수

In [114]:
a1 = np.array([1,2,3,4,5])
print(a1)
b1 = np.array([1,2,3,3,4])
print(b1)
print(np.isclose(a1, b1))  # 값이 얼마나 가깝냐. 가까우면 true   # 범위 지정 가능

[1 2 3 4 5]
[1 2 3 3 4]
[ True  True  True False False]

In [116]:
a1 = np.array([np.nan, 2, np.inf, 4, np.NINF])
print(a1)
print(np.isnan(a1))
print(np.isinf(a1))
print(np.isfinite(a1))  # 나노 넘버가 아닌 것

[ nan   2.  inf   4. -inf]
[ True False False False False]
[False False  True False  True]
[False  True False  True False]

#### 불리언 연산자(Boolean Operators)

In [118]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)

print((a2>5) & (a2<8))

print(a2[(a2>5) & (a2<8)])  # a2 인덱싱 값에 대한 불리언 조건으로도 사용 가능

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[False False False]
 [False False  True]
 [ True False False]]
[6 7]

In [119]:
print((a2>5) | (a2<8))
print(a2[(a2>5) | (a2<8)]) 

print((a2>5) ^ (a2<8))     # XOR
print(a2[(a2>5) ^ (a2<8)]) 

print(~(a2>5))     # NOT
print(a2[~(a2>5)])

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
[1 2 3 4 5 6 7 8 9]
[[ True  True  True]
 [ True  True False]
 [False  True  True]]
[1 2 3 4 5 8 9]
[[ True  True  True]
 [ True  True False]
 [False False False]]
[1 2 3 4 5]

### 배열 정렬

np.sort(a1) 을 사용할 경우 원본 데이터가 바뀌지 않음

In [123]:
a1 = np.random.randint(1,10,size=10)
print(a1)
print(np.sort(a1))
print(np.argsort(a1))  # 정렬 인덱스 위치값 출력

[9 4 8 2 4 2 2 7 1 9]
[1 2 2 2 4 4 7 8 9 9]
[8 3 5 6 1 4 7 2 0 9]

a1.sort() 를 해야 원본 데이터가 변경됌

In [124]:
print(a1)
print(a1.sort())
print(a1)

[9 4 8 2 4 2 2 7 1 9]
None
[1 2 2 2 4 4 7 8 9 9]

In [126]:
# 2차원에 대해서도 가능
a2 = np.random.randint(1,10, size = (3,3))
print(a2)
print(np.sort(a2))

# 축을 기준으로 정렬 가능
print(np.sort(a2, axis=0))
print(np.sort(a2, axis=1))

[[7 9 1]
 [5 4 3]
 [3 7 6]]
[[1 7 9]
 [3 4 5]
 [3 6 7]]
[[3 4 1]
 [5 7 3]
 [7 9 6]]
[[1 7 9]
 [3 4 5]
 [3 6 7]]

#### 부분 정렬

* `partition()`: 배열에서 k개의 작은 값을 반환

In [127]:
a1 = np.random.randint(1, 10, size=10)
print(a1)
print(np.partition(a1, 3))

[1 9 3 1 4 6 2 8 5 6]
[1 1 2 3 4 6 9 8 5 6]

In [135]:
a2 = np.random.randint(1, 10, size=(5,5))
print(a2)
print(np.partition(a2, 3))
print(np.partition(a2, 3, axis=0))
print(np.partition(a2, 3, axis=1))

[[9 4 7 3 8]
 [1 9 3 4 1]
 [7 5 4 1 3]
 [4 1 3 4 4]
 [6 1 6 3 8]]
[[3 7 4 8 9]
 [1 1 3 4 9]
 [1 3 4 5 7]
 [1 3 4 4 4]
 [3 6 1 6 8]]
[[4 1 3 1 4]
 [6 1 4 3 3]
 [1 4 3 3 1]
 [7 5 6 4 8]
 [9 9 7 4 8]]
[[3 7 4 8 9]
 [1 1 3 4 9]
 [1 3 4 5 7]
 [1 3 4 4 4]
 [3 6 1 6 8]]

## 배열 입출력

파일에 저장, 로드 등..

In [137]:
a2 = np.random.randint(1,10,size=(5,5))
print(a2)
np.save("a", a2)  # 파일명과 저장할 값

[[5 8 7 3 5]
 [9 6 3 9 9]
 [6 4 3 5 9]
 [2 3 1 4 7]
 [5 3 2 5 2]]

In [138]:
!ls  # 파일 확인

a.npy  sample_data

In [139]:
# savez : 여러개의 파일을 저장

b2 = np.random.randint(1,10, size=(5,5))
print(b2)
np.savez("ab", a2, b2)

[[6 1 8 9 9]
 [8 2 9 9 2]
 [5 6 6 8 6]
 [2 6 4 2 8]
 [4 2 9 8 3]]

In [140]:
!ls  # 확장자 npz

ab.npz	a.npy  sample_data

In [142]:
# 파일을 불러오기

npy = np.load("a.npy")
print(npy)

[[5 8 7 3 5]
 [9 6 3 9 9]
 [6 4 3 5 9]
 [2 3 1 4 7]
 [5 3 2 5 2]]

In [143]:
# 여러개의 파일을 불러오기
npz = np.load("ab.npz")
print(npz.files)
print(npz['arr_0'])  # 따로 접근 가능
print(npz['arr_1'])

['arr_0', 'arr_1']
[[5 8 7 3 5]
 [9 6 3 9 9]
 [6 4 3 5 9]
 [2 3 1 4 7]
 [5 3 2 5 2]]
[[6 1 8 9 9]
 [8 2 9 9 2]
 [5 6 6 8 6]
 [2 6 4 2 8]
 [4 2 9 8 3]]

In [144]:
# list가 아니라 텍스트로 저장
print(a2)  
np.savetxt("a.csv", a2, delimiter=",")  # ,를 구분자자로 사용

[[5 8 7 3 5]
 [9 6 3 9 9]
 [6 4 3 5 9]
 [2 3 1 4 7]
 [5 3 2 5 2]]

In [145]:
!ls

ab.npz	a.csv  a.npy  sample_data

In [146]:
# 터미널 명령어
!cat a.csv

5.000000000000000000e+00,8.000000000000000000e+00,7.000000000000000000e+00,3.000000000000000000e+00,5.000000000000000000e+00
9.000000000000000000e+00,6.000000000000000000e+00,3.000000000000000000e+00,9.000000000000000000e+00,9.000000000000000000e+00
6.000000000000000000e+00,4.000000000000000000e+00,3.000000000000000000e+00,5.000000000000000000e+00,9.000000000000000000e+00
2.000000000000000000e+00,3.000000000000000000e+00,1.000000000000000000e+00,4.000000000000000000e+00,7.000000000000000000e+00
5.000000000000000000e+00,3.000000000000000000e+00,2.000000000000000000e+00,5.000000000000000000e+00,2.000000000000000000e+00

In [148]:
# 불러오기
csv = np.loadtxt("a.csv", delimiter=",")
csv

array([[5., 8., 7., 3., 5.],
       [9., 6., 3., 9., 9.],
       [6., 4., 3., 5., 9.],
       [2., 3., 1., 4., 7.],
       [5., 3., 2., 5., 2.]])

In [149]:
# 포맷 지정

print(b2)
np.savetxt("b.csv", b2, delimiter=",", fmt = '%.2e', header = 'c1,c2,c3,c4,c5')  
# format을 소수점 2번째까지. header: 컬럼명

[[6 1 8 9 9]
 [8 2 9 9 2]
 [5 6 6 8 6]
 [2 6 4 2 8]
 [4 2 9 8 3]]

In [150]:
!cat b.csv

# c1,c2,c3,c4,c5
6.00e+00,1.00e+00,8.00e+00,9.00e+00,9.00e+00
8.00e+00,2.00e+00,9.00e+00,9.00e+00,2.00e+00
5.00e+00,6.00e+00,6.00e+00,8.00e+00,6.00e+00
2.00e+00,6.00e+00,4.00e+00,2.00e+00,8.00e+00
4.00e+00,2.00e+00,9.00e+00,8.00e+00,3.00e+00

In [152]:
csv = np.loadtxt('b.csv', delimiter=",")
csv

array([[6., 1., 8., 9., 9.],
       [8., 2., 9., 9., 2.],
       [5., 6., 6., 8., 6.],
       [2., 6., 4., 2., 8.],
       [4., 2., 9., 8., 3.]])



---